<html>

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <style type="text/css">
    ol {
      margin: 0;
      padding: 0
    }

    table td,
    table th {
      padding: 0
    }

    .c0 {
      margin-left: -49.6pt;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left;
      margin-right: -44.6pt
    }

    .c2 {
      color: #000000;
      font-weight: 400;
      text-decoration: none;
      vertical-align: baseline;
      font-size: 11pt;
      font-family: "Verdana";
      font-style: normal
    }

    .c3 {
      background-color: #ffffff;
      max-width: 451.4pt;
      padding: 28.3pt 72pt 72pt 72pt
    }

    .c1 {
      height: 11pt
    }

    .title {
      padding-top: 0pt;
      color: #000000;
      font-size: 26pt;
      padding-bottom: 3pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    .subtitle {
      padding-top: 0pt;
      color: #666666;
      font-size: 15pt;
      padding-bottom: 16pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    li {
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    p {
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: "Arial"
    }

    h1 {
      padding-top: 20pt;
      color: #000000;
      font-size: 20pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h2 {
      padding-top: 18pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 6pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h3 {
      padding-top: 16pt;
      color: #434343;
      font-size: 14pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h4 {
      padding-top: 14pt;
      color: #666666;
      font-size: 12pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h5 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left
    }

    h6 {
      padding-top: 12pt;
      color: #666666;
      font-size: 11pt;
      padding-bottom: 4pt;
      font-family: "Arial";
      line-height: 1.15;
      page-break-after: avoid;
      font-style: italic;
      orphans: 2;
      widows: 2;
      text-align: left
    }
  </style>
  <title>測試用- 景點網站 AP 文件</title>
</head>

<body class="c3 doc-content">
  <p class="c0"><span class="c2">1.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;:
      &#29554;&#21462;&#20840;&#31449;&#29992;&#25142;</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: GET /users</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: &#28961;</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: </span></p>
  <p class="c0"><span class="c2">[</span></p>
  <p class="c0"><span class="c2">&nbsp; {</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;_id&quot;: &quot;6395f34cae18c304ae4f1f14&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;id&quot;: 0,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;role&quot;: &quot;admin&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;name&quot;: &quot;&#31649;&#29702;&#21729;&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;mail&quot;: &quot;admin@mail.com&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;spotList&quot;: []</span></p>
  <p class="c0"><span class="c2">&nbsp; },</span></p>
  <p class="c0"><span class="c2">&nbsp; {</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;_id&quot;: &quot;6395f367ae18c304ae4f1f15&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;id&quot;: 1,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;role&quot;: &quot;user&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;name&quot;: &quot;&#23567;&#26126;&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;mail&quot;: &quot;ming@mail.com&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;spotList&quot;: [</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &nbsp; &quot;6395ef5aae18c304ae4f1f12&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &nbsp; &quot;6395eed5ae18c304ae4f1f0e&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &nbsp; &quot;6395ef1bae18c304ae4f1f0f&quot;</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; ]</span></p>
  <p class="c0"><span class="c2">&nbsp; },</span></p>
  <p class="c0"><span class="c2">&nbsp; .....</span></p>
  <p class="c0"><span class="c2">]</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">2.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;: &#26371;&#21729;&#30331;&#20837;</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: POST /users</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: mail, password</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: {</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;msg&quot;: &quot;&#30331;&#20837;&#25104;&#21151;&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;info&quot;: {</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;id&quot;: 1,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;tId&quot;: &quot;6395f367ae18c304ae4f1f15&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;name&quot;: &quot;&#23567;&#26126;&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;mail&quot;: &quot;ming@mail.com&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;role&quot;: &quot;user&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;spotList&quot;: [</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &nbsp; &quot;6395ef5aae18c304ae4f1f12&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &nbsp; &quot;6395eed5ae18c304ae4f1f0e&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &nbsp; &quot;6395ef1bae18c304ae4f1f0f&quot;</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; ],</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;token&quot;:
      &quot;eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0SWQiOiI2Mzk1ZjM2N2FlMThjMzA0YWU0ZjFmMTUiLCJpYXQiOjE2NzA5MDA5NDksImV4cCI6MTY3MDk4NzM0OX0.4q0e8iU14D6obEhATOfOWcO2zVI9zxJIik4lSYDoRpc&quot;</span>
  </p>
  <p class="c0"><span class="c2">&nbsp; }</span></p>
  <p class="c0"><span class="c2">}</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">3.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;:
      &#20462;&#25913;&#20491;&#20154;&#25910;&#34255;</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: PATCH /users</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: token, spotList:string[]</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: </span></p>
  <p class="c0"><span class="c2">{</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;msg&quot;: &quot;&#20462;&#25913;&#25104;&#21151;&quot;</span></p>
  <p class="c0"><span class="c2">}</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">4.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;: &#35387;&#20874;</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: POST /register</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: mail, password, name, role</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: </span></p>
  <p class="c0"><span class="c2">{</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;msg&quot;: &quot;&#35387;&#20874;&#25104;&#21151;&quot;</span></p>
  <p class="c0"><span class="c2">}</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">5.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;:
      &#39511;&#35657;&#36523;&#20998;&#24460;&#65292;&#22238;&#20659;&#20491;&#20154;&#36039;&#26009;</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: POST /auth</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: token</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: </span></p>
  <p class="c0"><span class="c2">{</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;auth&quot;: true,</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;msg&quot;: &quot;&#39511;&#35657;&#25104;&#21151;&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;info&quot;: {</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;tId&quot;: &quot;6397ee9dae40059936753f45&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;name&quot;: &quot;test-man&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;mail&quot;: &quot;test@mail.com&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;role&quot;: &quot;user&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;spotList&quot;: []</span></p>
  <p class="c0"><span class="c2">&nbsp; }</span></p>
  <p class="c0"><span class="c2">}</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">6.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;:
      &#29554;&#21462;&#20840;&#31449;&#26223;&#40670;</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: GET /spots</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: &#28961;</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: [</span></p>
  <p class="c0"><span class="c2">&nbsp; {</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;_id&quot;: &quot;6395eed5ae18c304ae4f1f0e&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;id&quot;: 1,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;name&quot;:
      &quot;&#28207;&#23376;&#32769;&#27029;&#27193;&quot;,</span></p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;description&quot;:
      &quot;&#28207;&#23376;&#32769;&#27029;&#27193;&#20301;&#22312;&#28558;&#28246;&#30333;&#27801;&#28207;&#23376;&#26449;&#65292;203&#32218;&#36947;&#19978;&#65292;&#24448;&#28558;&#28246;&#27700;&#26063;&#39208;&#36335;&#21475;&#65292;&#23601;&#22312;&#20445;&#23450;&#23470;&#24287;&#22485;&#12290;&#26159;&#28558;&#28246;&#31532;&#20108;&#32769;&#27029;&#27193;&#65292;&#22240;&#22312;&#20841;&#20596;&#21508;&#19968;&#26869;&#65292;&#21448;&#26377;&#24773;&#20154;&#27193;&#20043;&#31281;&#12290;&#20841;&#26666;&#27029;&#27193;&#29872;&#25265;&#33879;&#24287;&#23431;&#65292;&#20687;&#20284;&#22312;&#28858;&#20445;&#23450;&#23470;&#36974;&#39080;&#36991;&#38632;&#65292;&#36889;&#35041;&#20063;&#26159;&#26449;&#20839;&#32769;&#20154;&#19979;&#26827;&#12289;&#23567;&#23401;&#23305;&#25138;&#65292;&#38290;&#35441;&#23478;&#24120;&#30340;&#22909;&#21435;&#34389;&#12290;&quot;,</span>
  </p>
  <p class="c0"><span class="c2">&nbsp; &nbsp; &quot;pictureUrl&quot;:
      &quot;https://penghutravel.com/FileDownload/TravelInformation/NotSet/Scenery/378/039-03.jpg&quot;</span></p>
  <p class="c0"><span class="c2">&nbsp; }, ....</span></p>
  <p class="c0"><span class="c2">]</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">7.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;: &#26032;&#22686;&#19968;&#20491;&#26223;&#40670;
      (&#38480;&#31649;&#29702;&#32773;)</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: POST /spots</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: name, description, pictureUrl [&#21487;&#31354;&#20540;]</span>
  </p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: </span></p>
  <p class="c0"><span class="c2">{</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;msg&quot;: &quot;&#26032;&#22686;&#25104;&#21151;&quot;</span></p>
  <p class="c0"><span class="c2">}</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">8.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;: &#21034;&#38500;&#19968;&#20491;&#26223;&#40670;
      (&#38480;&#31649;&#29702;&#32773;)</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: DELETE /spots</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: objectId</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: </span></p>
  <p class="c0"><span class="c2">{</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;msg&quot;: &quot;&#21034;&#38500;&#25104;&#21151;&quot;</span></p>
  <p class="c0"><span class="c2">}</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0"><span class="c2">9.</span></p>
  <p class="c0"><span class="c2">&#21151;&#33021;&#29992;&#36884;: &#20462;&#25913;&#19968;&#20491;&#26223;&#40670;
      (&#38480;&#31649;&#29702;&#32773;)</span></p>
  <p class="c0"><span class="c2">&#21628;&#21483;&#26041;&#24335;: PATCH /spots</span></p>
  <p class="c0"><span class="c2">BODY&#21443;&#25976;: objectId, name, description</span></p>
  <p class="c0"><span class="c2">&#22238;&#20659;&#31684;&#20363;: </span></p>
  <p class="c0"><span class="c2">{</span></p>
  <p class="c0"><span class="c2">&nbsp; &quot;msg&quot;: &quot;&#20462;&#25913;&#25104;&#21151;&quot;</span></p>
  <p class="c0"><span class="c2">}</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
  <p class="c0"><span class="c2">---------------------------</span></p>
  <p class="c0 c1"><span class="c2"></span></p>
</body>

</html>